In [1]:
from etl.dataloader import DataLoader, DataTransformer
from utils.os_ import get_git_root
import os

import pandas as pd

# Dataset preparation

## source info

In [2]:
git_root = get_git_root(os.getcwd())
path_to_file = os.path.join(git_root, "raw")
filename = "Analytics Interview Question_mobile_new_2024.xlsx"

## load raw dataset

In [3]:
data_loader = DataLoader()
df = data_loader.load_data_xlsx_from_tab(
    path=os.path.join(path_to_file, filename), 
    sheet_name="Data")

## Transform dataset

In [4]:
data_transformer = DataTransformer(df)
data_transformer.transform_data(
    fill_super_region=True,
    drop_post_book=True,
    map_property_to_super_region=True
)
data_transformer.df.sample(10)

,client_region,client_country,platform,mobile,property_region,property_country,booking_window,date,year,week,net_gross_booking_usd,net_orders
5038,EMEA,Norway,Mobile App,Mobile,EMEA,Hungary,31-45 days,2022-11-07,2022,45,-345.7345,-1
15342,EMEA,United Kingdom,Mobile Web,Mobile,LATAM,Argentina,15-30 days,2022-11-14,2022,46,557.3185,3
52745,EMEA,Norway,Mobile Web,Mobile,EMEA,Romania,46-60 days,2023-11-13,2023,46,0.0000,0
70474,North America,US,Mobile App,Mobile,Sub-Saharan Africa,Ethiopia,8-14 days,2023-11-27,2023,48,314.9900,1
8752,APAC,Hong Kong,Desktop,Desktop,EMEA,France,2-3 days,2022-11-14,2022,46,1818.6564,6
29364,North America,US,Desktop,Desktop,Unknown Country,Turks and Caicos,61-90 days,2022-11-28,2022,48,9567.0300,4
29768,APAC,South Korea,Mobile App,Mobile,EMEA,Italy,4-7 days,2022-11-28,2022,48,1018.7546,7
35253,EMEA,United Kingdom,Desktop,Desktop,APAC,Bangladesh,+90 days,2023-11-06,2023,45,-268.7016,0
16597,North America,US,Mobile Web,Mobile,APAC,Israel,0-1 days,2022-11-14,2022,46,480.0000,1
12629,North America,US,Desktop,Desktop,Sub-Saharan Africa,Zimbabwe,0-1 days,2022-11-14,2022,46,432.7800,1